{% extends "planner/base.html" %}
{% block content %}
<div class="card-deck">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Assignments</h5>
            <p></p>
            {% for task in tasks %}
            {% if task.type == "Assignment" %}
            <p class="cards"><a href="#" class="card-link">{{ task.title }}</a> -> Due: {{ task.date_due|date:"d M" }}
            </p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Projects</h5>
            <p></p>
            {% for task in tasks %}
            {% if task.type == "Project" %}
            <p class="cards"><a href="#" class="card-link">{{ task.title }}</a> -> Due: {{ task.date_due|date:"d M" }}
            </p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Exams</h5>
            <p></p>
            {% for task in tasks %}
            {% if task.type == "Exam" %}
            <p class="cards"><a href="#" class="card-link">{{ task.title }}</a></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div style="padding-top: 1.1em">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Courses</h5>
            <p></p>
            <p class="cards"><a href="#" class="card-link">List of all course</a></p>
        </div>
    </div>
</div>


{% endblock content %}