{% extends "planner/base.html" %}
{% block content %}
<div class="card-deck">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h4 class="card-title mb-4">Assignments<a class="btn btn-outline-success btn-sm ml-5"
                    href="{% url 'task-create' %}">+
                    Add</a></h4>
            <hr>
            <p></p>
            {% for task in tasks %}
            {% if task.type == "Assignment" %}
            {% if task.user == user %}
            <p class="cards">
            <form method="POST" action="{% url 'task-delete' task.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-success btn-sm mr-2" style="color: rgb(0, 180, 0);" type="submit">
                    <i class="fas fa-check"></i>
                </button>
                <a href="{% url 'task-detail' task.id %}" class="card-link"
                    style="font-size: 15px; color: rgb(0, 195, 255);">
                    {{ task.title }}
                </a>
                <small class="ml-2" style="color: black">(Due: {{task.date_due|date:"d M"}})</small>
            </form>
            </p>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h4 class="card-title mb-4">Projects
                <a class="btn btn-outline-success btn-sm ml-5" href="{% url 'task-create' %}">+ Add</a>
            </h4>
            <hr>
            <p></p>
            {% for task in tasks %}
            {% if task.type == "Project" %}
            {% if task.user == user %}
            <p class="cards">
            <form method="POST" action="{% url 'task-delete' task.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-success btn-sm mr-2" style="color: rgb(0, 180, 0);" type="submit">
                    <i class="fas fa-check"></i>
                </button>
                <a href="{% url 'task-detail' task.id %}" class="card-link"
                    style="font-size: 15px; color: rgb(0, 195, 255);">
                    {{ task.title }}
                </a>
                <small class="ml-2" style="color: black">(Due: {{task.date_due|date:"d M"}})</small>
            </form>
            </p>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}